@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header-mobile {
  display: block;
  background-color: #FD8D27;
  color: white;
  height: 80px;
  padding: 0.5rem;
}

.header-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }
  .header-desktop {
    display: block;
    background-color: #FD8D27;
    color: white;
  }
}

nav a {
  font-family: "Akshar", sans-serif;
  text-transform: uppercase;
  display: block;
  padding: 0.2rem 0;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

@media only screen and (min-width: 480px) {
  nav a {
    padding: 0.5rem 0;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) {
  nav a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1032px) {
  nav a {
    font-size: 1.5rem;
  }
}

.menu-front {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.menu-front .logo {
  height: 80%;
  z-index: 2;
}

.menu-front .search-icon {
  position: absolute;
  right: 0;
}

.menu-front label {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s ease-in;
}

.menu-front label span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  height: 4px;
  background-color: white;
  transition: all 0.3s linear;
  opacity: 1;
}

.menu-front label span:first-child {
  -webkit-transform: translate(-50%, -15px) rotate(0deg);
          transform: translate(-50%, -15px) rotate(0deg);
}

.menu-front label span:last-child {
  -webkit-transform: translate(-50%, 10px) rotate(0deg);
          transform: translate(-50%, 10px) rotate(0deg);
}

#burger-checkbox {
  display: none;
}

#burger-checkbox:checked ~ .menu-front label span:first-child {
  -webkit-transform: translate(-18px, -2px) rotate(45deg);
          transform: translate(-18px, -2px) rotate(45deg);
}

#burger-checkbox:checked ~ .menu-front label span:nth-child(2) {
  opacity: 0;
}

#burger-checkbox:checked ~ .menu-front label span:last-child {
  -webkit-transform: translate(-18px, -2px) rotate(-45deg);
          transform: translate(-18px, -2px) rotate(-45deg);
}

#burger-checkbox:checked ~ .menu-wrapper {
  left: 0;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  left: -130%;
  width: 80%;
  height: 100%;
  padding: 0 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  background-color: #4F4F4F;
  transition: all 0.5s ease-in-out;
}

.menu-wrapper nav {
  margin-top: 80px;
}

.menu-wrapper nav .some-icon-container {
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.sticky-bar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .sticky-bar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background-color: #4F4F4F;
    color: white;
    padding: 0.2rem 0.5rem;
  }
  .sticky-bar .caption {
    color: #FD8D27;
    margin-right: 0.5rem;
  }
  .sticky-bar .text {
    font-size: 0.9rem;
    font-family: "Akshar", sans-serif;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 1032px) {
  .sticky-bar {
    padding: 0.2rem 2rem;
  }
}

.header-desktop nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  height: 80px;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

.header-desktop nav .logo {
  height: 100%;
  z-index: 2;
  margin-right: 3rem;
}

.header-desktop nav .container-search {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 35%;
  color: #4F4F4F;
  padding: 0.5rem 1rem;
  -webkit-align-items: center;
  align-items: center;
  background-color: white;
  border: 1px solid #C6C6C6;
}

.header-desktop nav ul {
  display: -webkit-flex;
  display: flex;
}

.header-desktop nav ul li {
  margin-right: 1rem;
}

.header-desktop nav ul li a {
  transition: all 0.2s;
}

.header-desktop nav ul li a:hover {
  color: #E7EDF0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.header-desktop nav ul li:last-of-type {
  margin-right: 0;
}

@media only screen and (min-width: 1032px) {
  .header-desktop nav {
    padding: 0.5rem 3rem;
  }
  .header-desktop nav ul li {
    margin-right: 3rem;
  }
  .header-desktop nav .container-search {
    width: 40%;
  }
}

.footer-desktop {
  background-color: #CAD7DD;
  color: #1C1C1C;
  display: none;
}

.footer-mobile {
  background-color: #CAD7DD;
  color: #1C1C1C;
  display: -webkit-flex;
  display: flex;
  padding: 3rem 0.5rem;
  font-size: 0.8rem;
  margin: 0 auto;
}

.footer-mobile .container-newsletter {
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.footer-mobile .container-newsletter p {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  .footer-mobile {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .footer-mobile {
    display: none;
  }
  .footer-desktop {
    display: block;
  }
}

.footer-desktop {
  padding: 3rem 0.5rem;
}

.footer-desktop .grid-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.7fr 1.3fr;
      grid-template-columns: 1fr 0.7fr 1.3fr;
      grid-template-areas: "grid-1 grid-2 grid-3";
}

@media only screen and (min-width: 1370px) {
  .footer-desktop .grid-footer {
    -ms-grid-columns: 1fr 0.7fr 0.7fr;
        grid-template-columns: 1fr 0.7fr 0.7fr;
  }
}

.footer-desktop [class*="grid"] ul li {
  padding: 0.2rem 0;
}

.footer-desktop [class*="grid"] ul li a {
  transition: all 0.3s;
}

.footer-desktop [class*="grid"] ul li a:hover {
  font-weight: 700;
}

.footer-desktop .grid-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: grid-1;
}

.footer-desktop .grid-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: grid-2;
}

.footer-desktop .grid-2 .some-icon-container {
  margin-top: 1.5rem;
}

.footer-desktop .grid-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: grid-3;
}

.footer-desktop a {
  color: #1C1C1C;
}

.container-newsletter-signup {
  display: -webkit-flex;
  display: flex;
  background-color: white;
  border: 1px solid #C6C6C6;
  margin-top: 1.5rem;
}

.container-newsletter-signup input {
  border: 0;
  width: 50%;
  padding: 0 0.5rem;
}

.container-newsletter-signup button {
  width: 50%;
}

.recipe-card {
  background-color: #C6C6C6;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.recipe-card h4 {
  color: #FD8D27;
  text-align: center;
}

.recipe-card a {
  text-decoration: none;
}

.recipe-card p {
  color: #1C1C1C;
  font-weight: 700;
}

.recipe-card .img-wrapper img {
  width: 100%;
  border-radius: 1rem;
}

.recipe-card .card-text-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.recipe-card .card-text-wrapper .card-info {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
}

.recipe-card .card-text-wrapper .card-text {
  text-align: center;
}

.recipe-card .card-text-wrapper .card-text p {
  padding: 0.2rem 0em 0em 0.5rem;
}

.recipe-card .card-text-wrapper .card-collection {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 0.5rem;
}

.recipe-card .card-text-wrapper .card-collection p {
  padding: 0.2rem;
}

@media only screen and (min-width: 1032px) {
  .recipe-card h4 {
    font-size: 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  main {
    margin: 3rem;
  }
}

section {
  margin-bottom: 2rem;
}

.section-header {
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #4F4F4F;
}

.section-sub-header {
  color: #CAD7DD;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.section-split {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .section-split {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.9fr 1.1fr;
        grid-template-columns: 0.9fr 1.1fr;
    gap: 3rem;
  }
}

header {
  background-color: #FD8D27;
  color: white;
  padding: 0.5rem 3rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 0.5rem;
  }
}

* {
  box-sizing: border-box;
}

.colors {
  display: -webkit-flex;
  display: flex;
  -webkit-column-gap: 6vw;
          -moz-column-gap: 6vw;
          column-gap: 6vw;
  row-gap: 1rem;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.colors p {
  color: grey;
  text-align: center;
  font-size: 0.7rem;
}

.color {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.color-primary {
  background-color: #FD8D27;
}

.color-secondary {
  background-color: #CAD7DD;
}

.color-secondary-light {
  background-color: #E7EDF0;
}

.color-text {
  background-color: #1C1C1C;
}

.color-grey-dark {
  background-color: #4F4F4F;
}

.color-grey-light {
  background-color: #C6C6C6;
}

.moods img {
  width: auto;
  height: 12rem;
  display: inline-block;
}

@media only screen and (min-width: 1032px) {
  .moods img {
    width: auto;
    height: 14rem;
    display: inline-block;
  }
}

@media only screen and (min-width: 1370px) {
  .moods img {
    width: auto;
    height: 18rem;
    display: inline-block;
  }
}

html,
body {
  font-family: "Montserrat", sans-serif;
  color: #1C1C1C;
}

h1 {
  font-family: "Akshar", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}

h2 {
  font-family: "Akshar", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}

h3 {
  font-family: "Akshar", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

h4 {
  font-family: "Akshar", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

p {
  line-height: 1.4;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.8rem;
  }
}

button {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.18s ease-out;
}

button.button-primary {
  background-color: #1C1C1C;
  color: white;
  border: none;
}

button.button-primary:hover {
  background-color: #2b2b2b;
}

button.button-secondary {
  background-color: white;
  color: #1C1C1C;
  border: 1px solid #CAD7DD;
}

button.button-secondary:hover {
  background-color: #CAD7DD;
  color: white;
}

.graphic-container {
  display: inline-block;
}

.graphic-container:nth-of-type(2) {
  margin-left: 1rem;
}

.graphic-container img {
  width: 12vw;
  height: auto;
}

.icon {
  width: 20px;
  height: 20px;
}

.logo-container img {
  height: 10vw;
  width: auto;
}
