@import "var";


.footer-desktop {
    background-color: $color-secondary;
    color: $color-text;

    display: none;
}

.footer-mobile {
    background-color: $color-secondary;
    color: $color-text;

    display: flex;

    padding: $spacing-xxl $spacing-sm;
    font-size: 0.8rem;
    margin: 0 auto;

    .container-newsletter {
        text-align: center;
        align-items: center;
        p {
            width: $width-lg;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: map-get($breakPoints, md)) {
    .footer-mobile {
        width: 70%;
    }
}

@media only screen and (min-width: map-get($breakPoints, lg)) {
    .footer-mobile {
        display: none;
    }
    .footer-desktop {
        display: block;
    }
}

.footer-desktop {
    padding: $spacing-xxl $spacing-sm;

    .grid-footer {
        display: grid;
        grid-template-columns: 1fr 0.7fr 1.3fr;
        grid-template-areas: "grid-1 grid-2 grid-3";
    }

    @media only screen and (min-width: map-get($breakPoints, xxl)) {
        .grid-footer {
            grid-template-columns: 1fr 0.7fr 0.7fr;
        }
    }

    [class*="grid"] {
        ul {
            li {
                padding: $spacing-xs 0;

                a {
                    transition: all 0.3s;
                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .grid-1 {
        grid-area: grid-1;
    }
    .grid-2 {
        grid-area: grid-2;

        .some-icon-container {
            margin-top: $spacing-lg;
        }
    }
    .grid-3 {
        grid-area: grid-3;
    }

    a {
        color: $color-text;
    }
}

.container-newsletter-signup {
    display: flex;
    background-color: white;
    border: 1px solid $color-grey-light;
    margin-top: $spacing-lg;

    input {
        border: 0;
        width: $width-half;
        padding: 0 $spacing-sm;
    }

    button {
        width: $width-half;
    }
}
