@import "var";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: $spacing-xxl;
}

// STYLE GUIDE STYLES
section {
    margin-bottom: $spacing-xl
}

.section_header {
    border-bottom: 1px solid #ccc;
    margin: $spacing-md 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
}

* {
    box-sizing: border-box;
}

// COLORS
.colors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
        color: grey;
        text-align: center;
        font-size: .7rem;
    }
}

.color {
    width: 10vw;
    height: 10vw;
    border-radius: $round-full;
    &-primary {
        background-color: $color-primary;
    }
    &-secondary {
        background-color: $color-secondary;
    }
    &-secondary-light {
        background-color: $color-secondary-light;
    }
    &-text {
        background-color: $color-text;
    }
    &-grey-dark {
        background-color: $color-grey-dark
    }
    &-grey-light {
        background-color: $color-grey-light;
    }
}


// TYPOGRAPHY
html, body {
    font-family: $font-main;
    color: $color-text
}

h1 {
    font-family: $font-headers;
    text-transform: uppercase;
    font-size: 4rem;
}

h2 {
    font-family: $font-headers;
    text-transform: uppercase;
    font-size: 3.8rem;
}

h3 {
    font-family: $font-headers;
    text-transform: uppercase;
    margin-bottom:1.2rem;
}

h4 {
    font-family: $font-headers;
    text-transform: uppercase;
    margin-bottom:1.2rem;
}

h5 {
    font-family: $font-main;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom:1.2rem;
}

p {
    line-height: 1.4;
}


// BUTTONS
button {
    display: inline-block;
    padding: $spacing-sm $spacing-xl;
    background-color: $color-secondary;
    
    text-transform: uppercase;
    font-size: .8rem;
    color: white;
    border: none;
    transition: .3s ease-out;

    &:hover {
    }
    
}


