@import "var";
@import "nav";
@import "footer";
@import "recipecard";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

main {
    margin: $spacing-sm;
}

li {
    list-style: none
}

a {
    text-decoration: none;
}

@media only screen and (min-width: map-get($breakPoints, lg)) {
    main {
        margin: $spacing-xxl;
    }
}

// STYLE GUIDE STYLES
section {
    margin-bottom: $spacing-xl;
}

.section-header {
    border-bottom: 1px solid #ccc;
    margin: $spacing-md 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $color-grey-dark;
}

.section-sub-header {
    color: $color-secondary;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: $spacing-md

}


.section-split {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: map-get($breakPoints, lg)) {
    .section-split {
        display: grid;
        grid-template-columns: 0.9fr 1.1fr;
        gap: 3rem;
    }
}

header {
    background-color: $color-primary;
    color: white;
    padding: $spacing-sm $spacing-xxl;
    text-align: center;
}

@media only screen and (min-width: map-get($breakPoints, lg)) {
    header {
        padding: $spacing-sm;
    }
}

* {
    box-sizing: border-box;
}

// COLORS
.colors {
    display: flex;
    column-gap: 6vw;
    row-gap: $spacing-md;
    flex-wrap: wrap;

    p {
        color: grey;
        text-align: center;
        font-size: 0.7rem;
    }
}

.color {
    width: 6rem;
    height: 6rem;
    border-radius: $round-full;

    &-primary {
        background-color: $color-primary;
    }
    &-secondary {
        background-color: $color-secondary;
    }
    &-secondary-light {
        background-color: $color-secondary-light;
    }
    &-text {
        background-color: $color-text;
    }
    &-grey-dark {
        background-color: $color-grey-dark;
    }
    &-grey-light {
        background-color: $color-grey-light;
    }
}

// MOODS
.moods {
    img {
        width: auto;
        height: 12rem;
        display: inline-block;
    }
}

@media only screen and (min-width: map-get($breakPoints, xl)) {
    .moods {
        img {
            width: auto;
            height: 14rem;
            display: inline-block;
        }
    }
}

@media only screen and (min-width: map-get($breakPoints, xxl)) {
    .moods {
        img {
            width: auto;
            height: 18rem;
            display: inline-block;
        }
    }
}

// TYPOGRAPHY
html,
body {
    font-family: $font-main;
    color: $color-text;
}

h1 {
    font-family: $font-headers;
    text-transform: uppercase;
    font-size: 2.5rem;
}

h2 {
    font-family: $font-headers;
    text-transform: uppercase;
    font-size: 2rem;
}

h3 {
    font-family: $font-headers;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

h4 {
    font-family: $font-headers;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

h5 {
    font-family: $font-main;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

p {
    line-height: 1.4;
}

@media only screen and (min-width: map-get($breakPoints, lg)) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.8rem;
    }
}

// BUTTONS
button {
    display: inline-block;
    padding: $spacing-sm $spacing-xl;
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.18s ease-out;

    &.button-primary {
        background-color: $color-text;
        color: white;
        border: none;

        &:hover {
            background-color: $color-text-hover;
        }
    }

    &.button-secondary {
        background-color: white;
        color: $color-text;
        border: 1px solid $color-secondary;

        &:hover {
            background-color: $color-secondary;
            color: white;
        }
    }
}

// GRAPHICS
.graphic-container {
    display: inline-block;

    &:nth-of-type(2) {
        margin-left: 1rem;
    }

    img {
        width: 12vw;
        height: auto;
    }
}

// GRAPHICS
.icon {
    width: 20px;
    height: 20px;
}

// LOGO
.logo-container {
    img {
        height: 10vw;
        width: auto;
    }
}
